/* Standard setup for most projects  */

body {
    background-color: rgb(124, 238, 179);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    /* aligns content */
    flex-direction: column;
    /* stacks content  */
    align-items: center;
    /* centers content */
    justify-content: center;
    height: 100vh;
    /* takes up 100% of the viewport height  */
    overflow: hidden;
    /* prevents scroll bard from showing by default  */
}